.status-bar {
  /* position: fixed; */
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 5px 3px;
}
.status-bar__column {
  width: 33%;
}
.status-bar__column:first-child span {
  margin-right: 5px;
}
.status-bar__column:nth-child(2) span {
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar__column .fa-battery-full {
  margin: 0 5px;
}
@keyframes colorFlip {
  0% {
    color: gray;
  }
  50% {
    color: var(--yellow);
  }
  100% {
    color: gray;
  }
}
.status-bar__column .fa-bolt {
  animation: colorFlip 2s linear infinite;
}
